.partners {
  padding: 72px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 -13px;
// не становятся так по макету
     // max-width: 1180px;
      // width: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  &__img {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}