.partners {
  padding: 72px;
  &__item {
    display: flex;
    justify-content: center;
  }
// добавила слайдер, но именно по макету выровнять не получается
  &__list {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__img {
    opacity: 0.5;
    transition: opacity 0.7s;

    &:hover {
      opacity: 1;
    }
  }
}
// попытка центрировать картинки
// .slick-slider .slick-list {
//   display: flex;
//   align-items: center;
// }


@media (max-width: $xl) {
  .partners {
    padding: 55px 72px;
  }
}

@media (max-width: $md) {
  .partners {
    padding: 48px 72px;
  }
}