.promotions {
  background-color: #F5F5F5;
  text-align: center;

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    margin-bottom: 46px;
  }

  &__items {
    margin-bottom: 48px;
  }
}

//код карточки товара в файле product-item--mini

