.product {
  padding-top: 74px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 58px;
  }
}

.product-item {
  max-width: 300px;
  width: 100%;
  height: 409px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  box-sizing: border-box;
  border-radius: 6px;

  &:hover {
    border-color: $green-900;
  }
  // картинки чуть больше, как сделать так чтобы ложились точно как на макете?

  &__img-box {
    height: 220px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }

  &__img-link {
    display: block;
    position: relative;
    overflow: hidden;

    &:hover::before {
      transform: translateY(-50%);
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::before {
      content: '';
      background-image: url('../images/icons/icon-vector-product.svg');
      position: absolute;
      @extend %bg-img;
      background-size: auto;
      width: 48px;
      height: 48px;
      background-color: $white;
      border-radius: 24px;
      top: 50%;
      left: 40%;
      transform: translateY(300%);
      transition: all 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: background-color 0.5s;
    }
  }

  &__info {
    display: none;
  }

  &__span {
    max-width: 31px;
    display: inline-block;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    margin-top: 7px;
    margin-left: 12px;
  }

  &__badge {
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1;
    color: $white;
    padding: 3px 6px;
    background-color: $green-900;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 2px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }

  &__top {
    position: relative;
    height: 56px;
  }

  &__heart {
    @extend %none-btn;
    padding: 1px 1px;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 15px;

    &:hover svg path {
      fill: #FFB800;
    }

    &:focus {
      outline: 3px solid #E0EDCF;
      border-radius: 3px;
    }

    &:active svg path {
      fill: rgba(255, 184, 0, 0.5);
    }
  }

  &__title {
    @extend %opensans-600;
    line-height: 1.4;
    font-size: 14px;
    padding: 0 17px;
    height: 66px;
    text-align: left;
    overflow: hidden;
    // почему не ставятся в конце троеточие?
    text-overflow: ellipsis;
    transform: translateY(11px);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 16px 17px 18px 20px;
    line-height: 1;
    color: $dark-500;
  }

  &__new-price {
    padding-right: 6px;
  }

  &__old-price {
    text-decoration: line-through;
    color: $silver-600;
  }

  &__cart {
    @extend %none-btn;
    cursor: pointer;
    width: 32px;
    height: 32px;

    &:hover svg rect {
      fill: #4D800C;
    }

    &:focus {
      outline: solid 4px $green-200;
    }

    &:active svg path {
      fill: rgba(255, 255, 255, 0.5);
    }

    // как сделать тень сверху на кнопке?
    &:active svg rect {
      fill: #63A60E;
      // fill: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}


.promotions {
  background-color: #F5F5F5;
  padding: 72px 0 83px;
  text-align: center;
}

.product__items-mini {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 61px;
}

.product-item.product__mini {
  height: 124px;
  position: relative;
  background-color: $white;

  .product-item__img-box {
    width: 130px;
    height: 100px;
    transform: translate(10px, -45px);
  }

  .product-item__img-link::before,
  .product-item__img-link::after {
    display: none;
  }

  .product-item__span {
    margin-top: 10px;
  }

  .product-item__heart {
    display: none;
  }

  .product-item__wrapper {
    display: flex;
    flex-direction: column;
  }

  .product-item__top {
    z-index: 1;
  }

  .product-item__title {
    position: absolute;
    top: 12px;
    left: -1px;
    transform: translateX(107px);
    width: 205px;
  }

  .product-item__info {
    display: inline-block;
    position: absolute;
    transform: translate(123px, -79px);
    text-transform: uppercase;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 1;
    color: $green-900;
  }

  .product-item__status-ends {
    color: $red-900;
  }

  .product-item__status-no {
    color: $silver-600;
  }

  .product-item__price {
    position: absolute;
    right: 0;
    left: 103px;
    transform: translateY(-80px);
  }

  .product-item__price-all {
    display: flex;
    align-items: flex-end;
  }

  .product-item__new-price {
    @extend %opensans-600;
    font-size: 20px;
  }

  .product-item__old-price {
    font-size: 12px;
  }

  // как рубль сделать ближе к цифре? пробывала несколько вариантов не рабтает
  .product-item__rub-new {
    font-size: 14px;
  }

  .product-item__cart {
    display: none;
  }

  .product-item__new-price {
    order: -1;
  }

  .product-item__rating {
    position: absolute;
    right: 31px;
    bottom: 11px;
    @extend %opensans-700;
    line-height: 1;
  }

  .product-item__rating-info {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/promotions/star.png');
      width: 16px;
      height: 16px;
      left: 23px;
      bottom: 0;
      @extend %bg-img;
    }
  }

  .btn-show__mini {
    background-color: $green-900;
  }
}