.product {
  padding-top: 74px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 61px;
  }
}

.product-item {
  max-width: 300px;
  width: 100%;
  height: 409px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  box-sizing: border-box;
  border-radius: 6px;

  &:hover {
    border-color: $green-900;
  }

  &__img-box {
    height: 220px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }

  &__img-link {
    display: block;
    position: relative;
    overflow: hidden;

    &:hover::before {
      transform: translateY(-50%);
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::before {
      content: '';
      background-image: url('../images/icons/icon-vector-product.svg');
      position: absolute;
      @extend %bg-img;
      background-size: auto;
      width: 48px;
      height: 48px;
      background-color: $white;
      border-radius: 24px;
      top: 50%;
      left: 40%;
      transform: translateY(300%);
      transition: all 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: background-color 0.5s;
    }
  }

  &__span {
    max-width: 31px;
    display: inline-block;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    margin-top: 8px;
    margin-left: 12px;
  }

  &__badge {
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1;
    color: $white;
    padding: 3px 6px;
    background-color: $green-900;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 4px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }

  &__top {
    position: relative;
    height: 56px;
  }

  &__heart {
    @extend %none-btn;
    padding: 1px 1px;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 15px;

    &:hover svg path {
      fill: #FFB800;
    }

    &:focus {
      outline: 3px solid #E0EDCF;
      border-radius: 3px;
    }

    &:active svg path {
      fill: rgba(255, 184, 0, 0.5);
    }
  }

  &__title {
    @extend %opensans-600;
    line-height: 1.4;
    font-size: 14px;
    padding: 0 17px;
    height: 66px;
    text-align: left;
    overflow: hidden;
    transform: translateY(13px);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 16px 17px 18px 20px;
    line-height: 1;
    color: $dark-500;
  }

  &__new-price {
    padding-right: 6px;
  }

  &__old-price {
    text-decoration: line-through;
    color: $silver-600;
  }

  &__cart {
    @extend %none-btn;
    cursor: pointer;
    width: 32px;
    height: 32px;

    &:hover svg rect {
      fill: #4D800C;
    }

    &:focus {
      outline: solid 4px $green-200;
    }

    &:active svg path {
      fill: rgba(255, 255, 255, 0.5);
    }
// как сделать тень сверху на кнопке?
    &:active svg rect {
      fill: #63A60E;
      // fill: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}